/irony/
/.org-id-locations
/auto-save-list/
/backups/
/elpa/
/eshell/*
!/eshell/alias
/recentf
/smex-items
/tramp
/transient/
/undo-tree-hist/
/bookmarks
/emacs-27.1/
/vimish-fold/
/url/
/.cache/
*.elc
/server/
session.*